#map {
  width: 100%;
  height: 700px;
}

svg {
  position: relative;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}

.page-header {
  margin-top: 5px;
}

.pledge {
  color: #5a5a5a;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.nav li {
}

.jumbotron .container {
	height: 200px;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
}

.learn-more h1 {
  font-family: 'Raleway', serif;
  font-weight: 800;
}

.learn-more h2 {
  font-family: 'Raleway', serif;
  font-weight: 400;
}

.learn-more h3 {
  font-family: 'Raleway', serif;
}


.learn-more li {
  font-family: 'Raleway', serif;
  font-size: 1.8em;
  margin-left: 20px;
}

body {
	background-color: black;
}

input {
	font-size: 16px;
}

.d3-tip {
	line-height: 1;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}

.d3-tip p {
	margin: 0 0 1 em 0;
}

.d3-tip ul {
	margin: 0;
	padding-left: 2em;
}

.d3-tip li {
	margin: 0.5em 0 0 0;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 3;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

.info {
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: gray;
    font-size: larger;
    font-family: 'Raleway', serif;
    font-weight: 400;
}

.day {
	background: rgba(0,0,255,0.5);
}

.night {
	background: rgba(0,0,0,0.5);
}

.info span {
	color: white;
	font-size: large;
}
	
.info h4 {
    margin: 0 0 10px;
    color: white;
}
.info h5 {
    margin: 10px 3px 3px;
    color: white;
}
.info checkbox {
    color: white;
}

